@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: currentColor transparent; /* For Firefox */

  /* For Webkit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-zinc-100 rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-50;
  }
}
